*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* outline: 0; */
}
html{
  /* background: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165)); */
  margin-top: 50px;
}
body{
  /* background: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
  background-repeat: no-repeat; */
}
.main-container{
  height: 435px;
  width: 265px;
  border: 1px solid black;
  box-shadow: 0 0 20px #000;
  border-radius: 15px;
  margin: auto;
  max-width: 1200px;
  padding: 10px;
  
}
.display-screen{
  height: 110px;
  width: 255px;
  color: #0a1e23;
}
.toggle{
  float: right;
  font-size: 10px;
}
.btn-operator,.btn-number ,.btn-equal{
  padding: 4px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  margin: 5px;

}
.btn-number{
  background-color: #c3eaff;
  color: #000000;
}
.btn-operator{
  background-color: #ffd0fb;
  color: #f967f3;
}
.btn-equal{
  background-color: #adf9e7;
  color: #000;
}
.clear{
  background-color: #ffd5d8;
  color: #fc4552;
}
button{
  font-size: 14px;
  transition: all 200ms ease;
}
button:hover{
  transform: scale(1.1);
}