* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  margin-top: 50px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 435px;
  width: 250px;
  border: 1px solid black;
  box-shadow: 0 0 20px #000;
  border-radius: 15px;
  margin: auto;
  max-width: 1200px;
  padding: 10px;

}

.display-screen {
  margin: 19px 0px 10px 0px;
  height: 85px;
  width: 244px;
  color: #0a1e23;
  background-color: floralwhite;
}

.toggle {
  float: right;
  font-size: 10px;
}

.btn-operator,
.btn-number,
.btn-equal {
  padding: 4px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  margin: 5px;

}

.btn-number {
  background-color: #c3eaff;
  color: #000000;
}

.btn-operator {
  background-color: #ffd0fb;
  color: #f967f3;
}

.btn-equal {
  background-color: #adf9e7;
  color: #000;
}

.clear {
  background-color: #ffd5d8;
  color: #fc4552;
}

button {
  font-size: 14px;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}
